<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheersBeers</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Roboto:wght@300;700&display=swap"
        rel="stylesheet">
        <!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}" href="../static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"  th:href="@{/vendor/animate/animate.css}" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css"  th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css"  th:href="@{/vendor/daterangepicker/daterangepicker.css}" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" href="../static/css/util.css">
        <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}" href="../static/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    
    <div>
        <img src="../static/images/beers_background.png" th:src="@{/images/beers_background.png}" class="background_img">
            <div class="welcome_container">
        <img src ="../static/images/logo_main_page.png" th:src ="@{/images/logo_main_page.png}" class="logo_main_page">
        <h1>&nbsp&nbsp&nbsp<span style="color:#f89730">Discover</span> and <span style="color:#f89730">share</span><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp  your favoure Beers</h1>
            </div>
    </div>
    
    <div class="login_form"  >
        <div class="limiter">
            <div class="container-login100" >
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <form th:action="@{/authenticate}" method="post" class="login100-form validate-form">
                        <span class="login100-form-title p-b-12">
                            Login
                        </span>
                        <span><i th:if="${param.error}" class="input-error">wrong username or password</i></span>
                        <span><i th:if="${param.logout}" class="input-error">you have successfully logged out.</i></span>
                        <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" id="username" name="username" placeholder="Type your username">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" id="password" name="password" placeholder="Type your password">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                        
<!--                        <div class="text-right p-t-8 p-b-31">-->
<!--                            <a href="#">-->
<!--                                Forgot password?-->
<!--                            </a>-->
<!--                        </div>-->

                        <div class="text-right p-t-8 p-b-31">
                            <div class="box">
                                <a href="#popup1" th:href="@{#popup1}">Forgot your password?</a>
                            </div>
                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <h2>How could you...?</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        We didn't have time to implement this. But enjoy this cool css popup block!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" type="submit" value="login">
                                    Login
                                </button>
                            </div>
                        </div>


    
                        <div class="flex-col-c p-t-155">
                            <span  class="txt1 p-b-17">
                                <a th:href="@{/beers}">Or continue as Guest</a>
                            </span>
    
                            <a th:href="@{/register}" class="txt2">
                                Sign Up
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    
        <div id="dropDownSelect1"></div>
        
    </div>
</body>

</html>