<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheersBeers</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Roboto:wght@300;700&display=swap"
            rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}" href="../static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/animate/animate.css}" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/daterangepicker/daterangepicker.css}" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}" href="../static/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <meta http-equiv="refresh" content="5;url=http://localhost:8080/login" />
</head>

<body>

<div>

    <img src="../static/images/beers_background.png" th:src="@{/images/beers_background.png}" class="background_img">
    <div class="welcome_container">
        <img src ="../static/images/logo_main_page.png" th:src ="@{/images/logo_main_page.png}" class="logo_main_page">
        <h1>&nbsp&nbsp&nbsp<span style="color:#f89730">Discover</span> and <span style="color:#f89730">share</span><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp  your favoure Beers</h1>
    </div>
</div>

<div class="login_form"  >
    <div class="success-register">
    <h1>You have successfully registered!</h1>

    <h3>Explore new beers and share your experience with other Beer Lovers</h3>
    <br>
        <div id='seconds-counter'><script>
            var seconds = 5;
            var el = document.getElementById('seconds-counter');

            function incrementSeconds() {
                seconds -= 1;
                el.innerText = "you will be redirected in " + seconds + " seconds.";
            }

            var cancel = setInterval(incrementSeconds, 1000);
        </script> </div>
    </div>
</div>
</body>

</html>