<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <a href="beers_page.html" th:href="@{/beers}" ><img src="../static/images/logo_beer_page.png" th:src="@{/images/logo_beer_page.png}" alt="CHEERBEERS"></a>
                </div>
                <ul class="nav-items">
                    <li sec:authorize="isAnonymous()" th:href="@{/login}">
                        <a th:href="@{/login}">login</a>
                    </li>

                    <li>
                        Welcome <a href="#" th:if="${#authorization.expression('isAuthenticated()')}"  sec:authentication="name">Kevin</a>
                    </li>

                    <li>
                        <div class="dropdown">
                            <img class="profile-picture-nav" sec:authorize="isAuthenticated()" th:src="${user.getProfilePicture()}">
                            <img class="profile-picture-nav" sec:authorize="isAnonymous()" th:src="@{'/images/defaultAvatar.jpg'}">
                            <div sec:authorize="isAuthenticated()" class="dropdown-content">
                                <div class="desc" ><a href ="#" th:href="${'/users/profile/' + #authentication.getName() }"> Profile</a></div>
                                <div class="desc" ><a href ="#" th:href="@{/beers/new/}"> Add new beer</a></div>
                                <div class="desc"><a href ="#" th:href="${'/users/'+ #authentication.getName() + '/wishlist/'}">My wishlist</a></div>
                                <div class="desc"><a href ="#" th:href="${'/users/'+ #authentication.getName() + '/drunklist/'}" >My drunklist</a></div>
                                <div class="desc">
                                    <form th:action="@{/logout}" method="post" id="logout-button">
                                        <a href="#" onclick="document.getElementById('logout-button').submit()">logout</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

</body>
</html>